pkgbase = epiphany-elf-binutils
	pkgver = 2.38
	pkgrel = 1
	pkgdesc = A set of programs to assemble and manipulate binary and object files for the Adapteva Epiphany target
	arch = x86_64
	arch = i686
	arch = armv7h
	url = http://www.gnu.org/software/binutils/
	license = GPL
	depends = glibc zlib libelf
	source = ftp://ftp.gnu.org/gnu/binutils/binutils-2.38.tar.lz
	sha1sums = 221e5aa4c42b0c9f47f682a36e7ef31713c22442

pkgname = epiphany-elf-binutils

